
<nav style="background: #007bff; padding: 10px; color: black;">
    <ul style="list-style: none; display: flex; justify-content: space-around; margin: 0; padding: 0;">
        <li><a href="/mainPage" style="color: white; text-decoration: none;"> Home </a></li>
        <li><a href="/admin" style="color: white; text-decoration: none;"> Users </a></li>
        <li><a href="/admin/itemsManage" style="color: white; text-decoration: none;"> Items </a></li>
        <li><a href="/admin/quizManage" style="color: white; text-decoration: none;"> Quiz </a></li>
        <li><a href="/logout" style="color: white; text-decoration: none;"> Logout </a></li>
    </ul>
</nav>