
<nav style="background: #007bff; padding: 10px; color: white;">
    <ul style="list-style: none; display: flex; justify-content: space-around; margin: 0; padding: 0;">
        <li><a href="/mainPage" style="color: white; text-decoration: none;">Home</a></li>
        <li><a href="/search" style="color: white; text-decoration: none;"> Search </a></li>
        <li><a href="/steam" style="color: white; text-decoration: none;"> Price check </a></li>
        <li><a href="/quiz" style="color: white; text-decoration: none;"> Quiz </a></li>
        <li><a href="/admin" style="color: white; text-decoration: none;">Admin Panel</a></li>
        <li><a href="/logout" style="color: white; text-decoration: none;">Logout</a></li>
    </ul>
</nav>